<div class="row">
  <div class="title">
    App Color Selector
  </div>
</div>
<div class="row">
  <div id="iframeContainer" class="col-xs-6" style="height: 640px;">
  </div>
  <div class="col-xs-6">
    <div class="row" ng-repeat="(className, classVal) in classList">
      <div class="col-xs-6" style="text-align: right; padding-right:10px;">
        {{className | classNameFilter}}
      </div>
      <div class="col-xs-6">
        <color-picker ng-model="classList[className]" color-picker-format="'rgb'" color-picker-on-change="onColorChange(color, className)"></color-picker>
      </div>
    </div>
    <div class="row button-container">
      <button type="button" class="btn btn-success" ng-click="applyAll()">Apply All</button>
    </div>
  </div>
</div>